<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head.html :: head('Inbox', 'Inbox of the client GBC Pay.')"></head>
<body th:replace="fragments/dashboard/body.html :: bodyContent(~{::div})">
<div class="container-fluid">
  <div class="alert alert-danger alert-dismissible fade show" role="alert"
       th:if="${error}">
    <span th:text="${error}" th:remove="tag"></span>
    <span type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </span>
  </div>
  <div class="alert alert-info alert-dismissible fade show" role="alert"
       th:if="${deleteMessage}">
    <span th:text="${deleteMessage}" th:remove="tag"></span>
    <span type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </span>
  </div>
  <div class="alert alert-success alert-dismissible fade show" role="alert"
       th:if="${messageSent}">
    <span th:text="${messageSent}" th:remove="tag"></span>
    <span type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </span>
  </div>
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Inbox</h1>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="box1 card shadow mb-4">
        <div class="card-header py-3">
          <p class="m-0 font-weight-bold text-primary h4">Message Inbox</p>
        </div>
        <div class="card-body">
          <table class="table">
            <thead class="text-center">
            <tr>
              <th scope="col">Ticket #</th>
              <th scope="col">Date Added</th>
              <th scope="col">Subject</th>
              <th scope="col">Has Reply</th>
              <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody class="text-center">
            <span th:each="message : ${allMessages}" th:remove="tag">
                <tr>
                  <th scope="row" th:text="${message.get(0)}"></td>
                  <td th:text="${message.get(4)}"></td>
                  <td th:class="${message.get(6) and !message.get(5)} ? 'font-weight-bold' : 'font-weight-normal'"  th:text="${message.get(1)}" th:id="${'subject-' + message.get(0)}"></td>
                  <td class="font-weight-bold text-success" th:if="${message.get(6)}">Yes</td>
                  <td class="font-weight-bold text-danger" th:if="${!message.get(6)}">No</td>
                  <td>
                    <div class="btn-group" role="group" aria-label="message-body">
                      <a th:if="${message.get(6)}" class="btn btn-outline-primary mr-3" data-toggle="collapse" th:href="${'#collapseExample-'+message.get(0)}"
                         role="button" aria-expanded="false" th:attr="onclick=|upload('${message.get(0)}')|">
                        Read
                      </a>
                      <a th:if="${!message.get(6)}" class="btn btn-outline-primary mr-3" data-toggle="collapse" th:href="${'#collapseExample-'+message.get(0)}"
                         role="button" aria-expanded="false">
                        Read
                      </a>
                      <a class="btn btn-outline-danger" th:href="@{inbox/delete/{messageId}(messageId=${message.get(0)})}">Delete</a>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td></td>
                  <td colspan="3">
                    <div class="collapse" th:id="${'collapseExample-'+message.get(0)}">
                      <div class="card card-body">
                        <p class="font-weight-bold">Sent Message Body: <span class="font-weight-normal" th:text="${message.get(2)}"></span></p>

                        <div class="mt-4">
                          <p class="font-weight-bold" th:if="${message.get(3) != null}">Reply From: <span class="font-weight-normal" th:text="${message.get(7).getEmail()}"></span></p>
                          <p class="font-weight-bold" th:if="${message.get(3) == null}">Reply From:</p>

                          <p class="font-weight-bold" th:if="${message.get(3) != null}">Reply: <span class="font-weight-normal" th:text="${message.get(3)}"></span></p>
                          <p class="font-weight-bold" th:if="${message.get(3) == null}">Reply:</p>
                        </div>
                      </div>
                    </div>
                  </td>
                  <td></td>
                </tr>
             </span>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
  <div th:replace="fragments/dashboard/logout.html :: logout"></div>
  <div th:replace="fragments/dashboard/scripts.html :: script"></div>
</body>
</html>
