<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head.html :: head('Dashboard', 'Index page of the secure GBC Pay dashboard.')"></head>
<body th:replace="fragments/dashboard/body.html :: bodyContent(~{::div})">
  <div class="container-fluid">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
      <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
    </div>
    <div class="row">
      <div class="col-lg-5">
        <div class="box1 card shadow mb-4" style="height: 725px">
          <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Recent Activity</h6>
          </div>
          <div class="card-body">
            <p> Last Login Activity <span th:text="${lastLogin}" th:remove="tag"></span></p>
            <p> Last User Profile Update <span th:text="${currentProfile.getUser().getLastUpdate()}" th:remove="tag"></span></p>
            <p> Inbox UnRead <span th:text="0" th:remove="tag"></span></p>
            <p> Inbox Read <span th:text="2" th:remove="tag"></span></p>
          </div>
        </div>
      </div>

      <div class="col-lg-7">
        <div class="box2 card shadow mb-4" style="height: 350px">
          <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Current Profile</h6>
          </div>
          <div class="card-body">
            <p>First Name:  <span th:text="${#strings.capitalize(currentProfile.getUser().getLastUpdate())}" th:remove="tag"></span></p>
            <p>Last Name:  <span th:text="${currentProfile.getUser().getLastUpdate()}" th:remove="tag"></span></p>
            <p>Email:  <span th:text="${currentProfile.getUser().getLastUpdate()}" th:remove="tag"></span></p>
            <p>D.O.B:  <span th:text="${currentProfile.getUser().getLastUpdate()}" th:remove="tag"></span></p>
            <p>Address:  <span th:text="${currentProfile.getUser().getLastUpdate()}" th:remove="tag"></span></p>
            <p>City:  <span th:text="${currentProfile.getUser().getLastUpdate()}" th:remove="tag"></span></p>
            <p>Country:  <span th:text="${currentProfile.getUser().getLastUpdate()}" th:remove="tag"></span></p>
          </div>
        </div>

        <div class="box2 card shadow mb-4" style="height: 350px">
          <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Addresses</h6>
          </div>
          <div class="card-body">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div th:replace="fragments/dashboard/logout.html :: logout"></div>
  <div th:replace="fragments/dashboard/scripts.html :: script"></div>
</body>
</html>
