<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head.html :: head('Dashboard', 'Index page of the secure GBC Pay dashboard.')"></head>
<body th:replace="fragments/dashboard/body.html :: bodyContent(~{::div})">
  <div class="container-fluid">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
      <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
    </div>
    <div class="row">
      <div class="col-lg-5">
        <div class="box1 card shadow mb-4">
          <div class="card-header py-3">
            <p class="m-0 font-weight-bold text-primary h4">Recent Activity</p>
          </div>
          <div class="card-body">

            <div class="mb-4">
              <p class="font-weight-bold">Last Login Activity</p>
              <hr style="border-top: 2px solid #8c8b8b;width:90%;text-align:left;margin-left:0">
              <p class="text-center" th:text="${lastLogin}"></p>
            </div>

            <div class="mb-4">
              <p class="font-weight-bold">Last User Profile Update</p>
              <hr style="border-top: 2px solid #8c8b8b;width:90%;text-align:left;margin-left:0">
              <p class="text-center" th:text="${lastUpdate}"></p>
            </div>

            <div>
              <p class="font-weight-bold">Inbox</p>
              <hr style="border-top: 2px solid #8c8b8b;width:90%;text-align:left;margin-left:0">
              <p class="text-center"> Unread: <span th:text="${unReadMessages}" th:remove="tag"></span></p>
              <p class="text-center"> Read: <span th:text="${readMessages}" th:remove="tag"></span></p>
            </div>

          </div>
        </div>
      </div>

      <div class="col-lg-7 mb-4">
        <div class="box2 card shadow mb-4">
          <div class="card-header py-3">
            <p class="m-0 font-weight-bold text-primary h4">Current Profile</p>
          </div>
          <div class="card-body">
            <p class="font-weight-bold text-center">First Name:  <span class="font-weight-normal" th:text="${#strings.capitalize(currentProfile.getUser().getFirstName())}"></span></p>
            <p class="font-weight-bold text-center">Last Name:  <span class="font-weight-normal" th:text="${#strings.capitalize(currentProfile.getUser().getLastName())}"></span></p>
            <p class="font-weight-bold text-center">Email:  <span class="font-weight-normal" th:text="${currentProfile.getEmail()}"></span></p>
            <p class="font-weight-bold text-center">D.O.B:  <span class="font-weight-normal" th:text="${currentProfile.getUser().getDateOfBirth()}"></span></p>
            <p class="font-weight-bold text-center">Address:  <span class="font-weight-normal" th:text="${currentProfile.getAddress().getStreet()}"></span></p>
            <p class="font-weight-bold text-center">City:  <span class="font-weight-normal" th:text="${currentProfile.getAddress().getCity()}"></span></p>
            <p class="font-weight-bold text-center">Country:  <span class="font-weight-normal" th:text="${currentProfile.getAddress().getCountry()}"></span></p>
          </div>
        </div>

        <div class="box2 card shadow mb-4">
          <div class="card-header py-3">
            <p class="m-0 font-weight-bold text-primary h4">Default Addresses</p>
          </div>
          <div class="card-body">
            <div class="mb-5">
              <p class="font-weight-bold">Preferred Billing Address</p>
              <hr style="border-top: 2px solid #8c8b8b;width:90%;text-align:left;margin-left:0">
              <p th:if="${defaultBillingAddress == null}" class="font-weight-bold font-italic text-center" style="color: red">Please go to the 'My Profile' page and set your default billing address.</p>
              <p class="font-weight-bold text-center">Address:  <span class="font-weight-normal" th:if="${defaultBillingAddress}" th:text="${defaultBillingAddress.getStreet()}"></span></p>
              <p class="font-weight-bold text-center">City:  <span class="font-weight-normal" th:if="${defaultBillingAddress}" th:text="${defaultBillingAddress.getCity()}"></span></p>
              <p class="font-weight-bold text-center">Country:  <span class="font-weight-normal" th:if="${defaultBillingAddress}" th:text="${defaultBillingAddress.getCountry()}"></span></p>
            </div>

            <div>
              <p class="font-weight-bold">Preferred Shipping Address</p>
              <hr style="border-top: 2px solid #8c8b8b;width:90%;text-align:left;margin-left:0">
              <p th:if="${defaultShippingAddress == null}" class="font-weight-bold font-italic text-center" style="color: red">Please go to the 'My Profile' page and set your default shipping address.</p>
              <p class="font-weight-bold text-center">Address:  <span class="font-weight-normal" th:if="${defaultShippingAddress}" th:text="${defaultShippingAddress.getStreet()}"></span></p>
              <p class="font-weight-bold text-center">City:  <span class="font-weight-normal" th:if="${defaultShippingAddress}" th:text="${defaultShippingAddress.getCity()}"></span></p>
              <p class="font-weight-bold text-center">Country:  <span class="font-weight-normal" th:if="${defaultShippingAddress}" th:text="${defaultShippingAddress.getCountry()}"></span></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div th:replace="fragments/dashboard/logout.html :: logout"></div>
  <div th:replace="fragments/dashboard/scripts.html :: script"></div>
</body>
</html>
