<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head.html :: head('My Profile', 'Client\'s profile of GBC Pay.')"></head>
<body th:replace="fragments/dashboard/body.html :: bodyContent(~{::div})">
  <div class="container-fluid">
    <div class="alert alert-info alert-dismissible fade show" role="alert"
         th:if="${deletedEmail}">
      <span th:text="${deletedEmail}" th:remove="tag"></span>
      <span type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </span>
    </div>
    <div class="alert alert-success alert-dismissible fade show" role="alert"
         th:if="${updatedProfile}">
      <span th:text="${updatedProfile}" th:remove="tag"></span>
      <span type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </span>
    </div>
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
      <h1 class="h3 mb-0 text-gray-800">Future Enhancement</h1>
    </div>
    <div class="row justify-content-center align-self-center">

      <div class="col-lg-8">
        <div class="box1 card shadow mb-4">
          <div class="card-header py-3">
            <p class="m-0 font-weight-bold text-primary h4">Add/Edit Profile</p>
          </div>
          <div class="card-body">

            <form th:action="@{/dashboard/my_profile/update}" method="post">
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="firstName">First Name</label>
                  <input type="text" class="form-control" id="firstName" th:value="${#strings.capitalize(currentProfile.getUser().getFirstName())}">
                </div>
                <div class="form-group col-md-6">
                  <label for="lastName">Last Name</label>
                  <input type="text" class="form-control" id="lastName" th:value="${#strings.capitalize(currentProfile.getUser().getLastName())}">
                </div>
              </div>

              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="email">Email</label>
                  <input type="text" class="form-control" id="email" th:value="${#strings.capitalize(currentProfile.getEmail())}" name="update-email">
                </div>
                <div class="form-group col-md-6">
                  <label for="dob" class="col-form-label">Date of Birth</label>
                  <input class="form-control" type="date" id="dob" th:value="${currentProfile.getUser().getDateOfBirth()}">
                </div>
              </div>

              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="street">Street</label>
                  <input type="text" class="form-control" id="street" th:value="${currentProfile.getAddress().getStreet()}">
                </div>
                <div class="form-group col-md-6">
                  <label for="country" class="col-form-label">Country</label>
                  <input class="form-control" id="country" th:value="${#strings.capitalize(currentProfile.getAddress().getCountry())}">
                </div>
              </div>

              <div class="form-group">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="defaultShippingAddress" th:checked="${currentProfile.getAddress().isDefaultShipping()}">
                  <label class="form-check-label" for="defaultShippingAddress">
                    Default Shipping Address
                  </label>
                </div>
              </div>

              <div class="form-group">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="defaultBillingAddress" th:checked="${currentProfile.getAddress().isDefaultBilling()}">
                  <label class="form-check-label" for="defaultBillingAddress">
                    Default Billing Address
                  </label>
                </div>
              </div>

              <button type="submit" class="btn btn-primary">Update</button>
            </form>

          </div>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="box1 card shadow mb-4">
          <div class="card-header py-3">
            <p class="m-0 font-weight-bold text-primary h4">List Existing Profiles</p>
          </div>
          <div class="card-body overflow-auto" style="max-height: 400px;">
            <span th:each="profile : ${allProfiles}" th:remove="tag">
              <div class="mb-4">
                <form th:action="@{/dashboard/my_profile}" method="get">
                  <div class="font-weight-bold ml-4 form-group row">
                    <label class="col-sm-5 col-form-label">Email:</label>
                    <div class="col-sm-7">
                      <input type="text" class="form-control-plaintext" th:value="${profile.getEmail()}"  name="email" readonly >
                    </div>
                  </div>

                  <div class="font-weight-bold ml-4 form-group row">
                    <label class="col-sm-5 col-form-label">Address:</label>
                    <div class="col-sm-7">
                      <input type="text" class="form-control-plaintext" th:value="${profile.getAddress().getStreet()}" readonly >
                    </div>
                  </div>

                  <div class="font-weight-bold ml-4 form-group row">
                    <label class="col-sm-5 col-form-label">City:</label>
                    <div class="col-sm-7">
                      <input type="text" class="form-control-plaintext" th:value="${#strings.capitalize(profile.getAddress().getCity())}" readonly >
                    </div>
                  </div>

                  <div class="font-weight-bold ml-4 form-group row">
                    <label class="col-sm-5 col-form-label">Country:</label>
                    <div class="col-sm-7">
                      <input type="text" class="form-control-plaintext" th:value="${#strings.capitalize(profile.getAddress().getCountry())}" readonly >
                    </div>
                  </div>

                  <div class="font-weight-bold ml-4 form-group row">
                    <label class="col-sm-5 col-form-label">Default Billing:</label>
                    <div class="col-sm-7">
                      <input type="text" class="form-control-plaintext" th:value="${profile.getAddress().isDefaultBilling()} ? 'Yes' : 'No'" readonly >
                    </div>
                  </div>

                  <div class="font-weight-bold ml-4 form-group row">
                    <label class="col-sm-5 col-form-label">Default Shipping:</label>
                    <div class="col-sm-7">
                      <input type="text" class="form-control-plaintext" th:value="${profile.getAddress().isDefaultShipping()} ? 'Yes' : 'No'" readonly >
                    </div>
                  </div>

                  <div>
                    <button type="submit" class="btn btn-primary btn-user btn-block">
                    View Profile
                    </button>
                  </div>
                </form>
              </div>
              <div>
                  <form th:action="@{/dashboard/my_profile/delete}" method="post" th:id="${'deleteForm-' + profile.getEmail()}">
                    <input type="hidden" th:value="${profile.getEmail()}" name="delete-email">
                    <button type="submit" class="btn btn-danger btn-user btn-block" th:form="${'deleteForm-' + profile.getEmail()}">Delete</button>
                  </form>
              </div>
              <hr style="border-top:2px solid #8c8b8b;width:100%;text-align:left">
            </span>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div th:replace="fragments/dashboard/logout.html :: logout"></div>
  <div th:replace="fragments/dashboard/scripts.html :: script"></div>
</body>
</html>
