<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head.html :: head('Inbox', 'Inbox of the client GBC Pay.')"></head>
<body th:replace="fragments/dashboard/body.html :: bodyContent(~{::div})">
  <div class="container-fluid">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
      <h1 class="h3 mb-0 text-gray-800">Future Enhancement</h1>
    </div>
    <div class="row justify-content-center align-self-center">
      <h1>
        Inbox For <span th:text="${#authentication.getPrincipal().getAuthorities().get(0)}" th:remove="tag">title</span>
      </h1>
    </div>
  </div>
  <div th:replace="fragments/dashboard/logout.html :: logout"></div>
  <div th:replace="fragments/dashboard/scripts.html :: script"></div>
</body>
</html>
