<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head.html :: head('Dashboard', 'Index page of the secure GBC Pay dashboard.')"></head>
<body th:replace="fragments/dashboard/body.html :: bodyContent(~{::div})">
  <div class="container-fluid">
    <div class="alert alert-primary alert-dismissible fade show" role="alert"
         th:if="${successfulRegister}">
      <span th:text="${successfulRegister}" th:remove="tag"></span>
      <span type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </span>
    </div>
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
      <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
    </div>
    <div class="row">
      <div class="col-lg-5">
        <div class="box1 card shadow mb-4" style="height: 725px">
          <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Future Enhancement</h6>
          </div>
          <div class="card-body">
          </div>
        </div>
      </div>

      <div class="col-lg-7">
        <div class="box2 card shadow mb-4" style="height: 350px">
          <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Future Enhancement</h6>
          </div>
          <div class="card-body">
          </div>
        </div>

        <div class="box2 card shadow mb-4" style="height: 350px">
          <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Future Enhancement</h6>
          </div>
          <div class="card-body">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div th:replace="fragments/dashboard/logout.html :: logout"></div>
  <div th:replace="fragments/dashboard/scripts.html :: script"></div>
</body>
</html>
