<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head.html :: head('Tab 2', 'Tab 2 of GBC Pay.')"></head>
<body th:replace="fragments/dashboard/body.html :: bodyContent(~{::div})">
  <div class="container-fluid">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
      <h1 class="h3 mb-0 text-gray-800">Future Enhancement</h1>
    </div>
    <img style="position: relative; max-width: 100%; height: auto; padding-left: 20%; padding-top: 5%;"
         th:src="@{/assets/construction.jpg}" alt="under construction">
    <div class="row">
    </div>
  </div>
  <div th:replace="fragments/dashboard/logout.html :: logout"></div>
  <div th:replace="fragments/dashboard/scripts.html :: script"></div>
</body>
</html>
