<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head.html :: head('Forgot Password', 'Page to send to email to reset password.')"></head>

<body th:replace="fragments/account.html :: bodyContent(~{::div})">
  <div class="col-lg-6">
    <div class="p-5">
      <div class="alert alert-danger alert-dismissible fade show" role="alert"th:if="${invalidAccount}">
        <span th:text="${invalidAccount}" th:remove="tag"></span>
        <span type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </span>
      </div>
      <div class="text-center">
        <h1 class="h4 text-gray-900 mb-2">Forgot Your Password?</h1>
      </div>
      <form class="user" th:action="@{/forgot_password}" th:object="${user}" method="post">
        <ul th:if="${#fields.hasErrors('email')}">
          <li th:errors="*{email}" class="text-danger"></li>
        </ul>
        <div class="form-group">
          <input type="text" class="form-control form-control-user" placeholder="Enter Email Address" th:field="*{email}">
        </div>
        <button type="submit" class="btn btn-primary btn-user btn-block">
          Send Reset Link
        </button>
      </form>
      <hr>
      <div class="text-center">
        <a class="small" th:href="@{/register}">Create an Account!</a>
      </div>
      <div class="text-center">
        <a class="small" th:href="@{/login}">Already have an account? Login!</a>
      </div>
    </div>
  </div>
</body>

</html>
