<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head.html :: head('Register', 'Registration page to register for secure GBC payment.')"></head>

<body class="bg-gradient-primary">
  <div class="container">
    <div class="card o-hidden border-0 shadow-lg my-5">
      <div class="card-body p-0">
        <div class="row">
          <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
          <div class="col-lg-7">
            <div class="p-5">
              <div class="alert alert-danger text-danger alert-dismissible fade show" role="alert"th:if="${infoForUser}">
                <span th:remove="tag">
                  User already exists. <a th:href="@{/login}">Login</a>
                </span>
                <span type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                </span>
              </div>
              <div class="text-center">
                <h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
              </div>
              <form class="user" th:action="@{/register}" th:object="${user}" method="post">
                <div>
                  <ul th:if="${#fields.hasErrors('*')}">
                    <li th:each="err : ${#fields.errors('*')}" th:text="${err}" class="text-danger"></li>
                  </ul>
                </div>
                <div class="form-group row">
                  <div class="col-sm-6 mb-3 mb-sm-0">
                    <input type="text" class="form-control form-control-user" placeholder="First Name*" th:field="*{firstName}">
                  </div>
                  <div class="col-sm-6">
                    <input type="text" class="form-control form-control-user" placeholder="Last Name*" th:field="*{lastName}">
                  </div>
                </div>
                <div class="form-group">
                  <input type="text" class="form-control form-control-user" placeholder="Address*" th:field="*{address}">
                </div>
                <div class="form-group">
                  <input type="email" class="form-control form-control-user" placeholder="Email Address*" th:field="*{email}">
                </div>
                <div class="form-group row">
                  <div class="col-sm-6 mb-3 mb-sm-0">
                    <input type="password" class="form-control form-control-user" placeholder="Password*" th:field="*{password}">
                  </div>
                  <div class="col-sm-6">
                    <input type="password" class="form-control form-control-user" placeholder="Confirm Password*" th:field="*{confirmPassword}">
                  </div>
                </div>
                <div class="mb-4 custom-control custom-checkbox">
                  <div class="d-flex justify-content-center">
                    <input type="checkbox" class="custom-control-input" id="customCheck" th:field="*{agreedToTerms}">
                    <label class="custom-control-label" for="customCheck">I agree to the <a href="#" data-toggle="modal" data-target="#termsModal">terms of service.</a></label>
                  </div>
                </div>
                <button type="submit" class="btn btn-primary btn-user btn-block">
                  Register Account
                </button>
                <hr>
              </form>
              <hr>
              <div class="text-center">
                <a class="small" th:href="@{/login}">Already have an account? Login!</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div th:replace="fragments/service_terms.html :: terms"></div>
  <div th:replace="fragments/scripts.html :: script"></div>
</body>

</html>
