<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head.html :: head('Reset Password', 'GBC Pay reset password page.')"></head>
<body th:replace="fragments/account.html :: bodyContent(~{::div})">
  <div class="col-lg-6">
    <div class="p-5">
      <div class="text-center">
        <h1 class="h4 text-gray-900 mb-4">Reset Your Password</h1>
      </div>
      <form class="user" th:action="@{'/reset_password?token=' + ${emailToken}}" th:object="${profile}" method="post">
        <div>
          <ul th:if="${#fields.hasErrors('*')}">
            <li th:errors="*{password}" class="text-danger"></li>
            <li th:errors="*{confirmPassword}" class="text-danger"></li>
          </ul>
        </div>
        <div class="form-group">
          <input type="password" class="form-control form-control-user" placeholder="Password" th:field="*{password}">
        </div>
        <div class="form-group">
          <input type="password" class="form-control form-control-user" placeholder="Confirm Password" th:field="*{confirmPassword}">
        </div>
        <button type="submit" class="btn btn-primary btn-user btn-block">
          Reset
        </button>
        <hr>
      </form>
      <hr>
      <div class="text-center">
        <a class="small" th:href="@{/login}">Already have an account? Login!</a>
      </div>
      <div class="text-center">
        <a class="small" th:href="@{/register}">Create an Account!</a>
      </div>
    </div>
  </div>
</body>
</html>
