<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration Form</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
</head>
<body>
<div class="container my-3">
    <div class="row">
        <div class="col-md-8 mx-auto">
            <h2>Password Reset</h2>
            <div class="alert alert-danger" role="alert"th:if="${invalidAccount}" th:text="${invalidAccount}"></div>
            <form th:action="@{/forgot_password}" th:object="${user}" method="post">
                <div class="form-row">

                    <div class="col-md-6 form-group">
                        <label>Email</label>
                        <input type="text" class="form-control" th:field="*{email}">
                        <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" style="color: red;"></span>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary btn-block mt-3">Send Reset Link</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>