<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration Form</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
</head>
<body>
<div class="container my-3">
    <div class="row">
        <div class="col-md-8 mx-auto">
            <h2>Password Reset</h2>
            <form th:action="@{'/reset_password?token=' + ${emailToken}}" th:object="${user}" method="post">
                <div class="form-row">
                    <div class="col-md-6 form-group">
                        <label>Password</label>
                        <input type="password" class="form-control" th:field="*{password}">
                        <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}" style="color: red;"></span>
                    </div>

                    <div class="col-md-6 form-group">
                        <label>Password</label>
                        <input type="password" class="form-control" th:field="*{confirmPassword}">
                        <span th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}" style="color: red;"></span>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary btn-block mt-3">Register</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>